body{
    background-color: #ecf2f8; 
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

.testimonial-container {
    display: grid;
    gap: 20px;
    color: white;
    padding: 20px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.testimonial-container img {
    border-radius: 50%;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-right: 10px;
}

.upper-section-flex {
    display: flex;
    direction: column; 
    align-items: center;
}

.name {
    font-size: 50%;
    margin-bottom: 0px;
}

.student-type{
    font-size: 50%;
    opacity: 50%;
    margin-top: 0px;
}

.review-highlight {
    margin-top: 5px;
}

.review {
    font-size: 70%;
    opacity: 50%;
}

#testimonial-1 {
    background-color: #7541c8;
    background-image: url('bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: right 20% top 0%;
}

#testimonial-2 {
    background-color: #48556a;
}

#testimonial-3, #testimonial-4{
    background-color: white;
    color: black;
}

#testimonial-5 {
    background-color: #19212e;
}

#testimonial-1, #testimonial-2, #testimonial-3, #testimonial-4, #testimonial-5 {
    border-radius: 10px;
    padding: 18px;
    box-shadow: 4px 3px 7px 0px rgba(0,0,0,0.45);
}

#testimonial-3 img, #testimonial-4 img {
    border: 1px solid black;
}


@media (min-width: 576px){
    .testimonial-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        gap: 10px;
        max-width: 750px;
        margin: 0 auto; 
    }
    #testimonial-1, #testimonial-5{
        grid-column: span 2;
    }
    #testimonial-3{
        grid-row: span 2; 
    }
}
